body {
    color: #000000;
    background: #EEEEEE;
    font: 1.0em "Optima", "Times New Roman";

    line-height: 1.2;
    margin: 40px 0;
}
#resume {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px 60px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 4px #AAAAAA;
    -webkit-box-shadow: 2px 2px 4px #AAAAAA;
}
h1 {
    text-transform: uppercase;
    text-align: center;

    font-size: 200%;
    margin: 0;
    padding: 0;
}
h2 {
    border-bottom: 1px solid #000000;
    text-transform: uppercase;
    font-size: 130%;
    margin: 1em 0 0 0;
    padding: 0;
}
h3 {
    font-size: 100%;
    margin: 0.8em 0 0.3em 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

h4 {
    font-size: 90%;
    margin: 0.1em 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

h4 span {
    font-weight: normal;
}

p {
    margin: 0 0 0.5em 0;
    padding: 0;
    }
ul {
    padding: 0;
    margin: 0 1.5em;
    }
/* ul immediately after h1 = contact list */
h1 + ul {
    text-align: center;
    margin: 0;
    padding: 0;
    }
h1 + ul > li {
    display: inline;
    white-space: pre;
    list-style-type: none;
}
h1 + ul > li > a {
    text-decoration: none;
}
h1 + ul > li:after {
    content: "  ";
}
/* p immediately after contact list = summary */
h1 + ul + p {
    margin: 1em 0;
}

/* Cesar Cardoso - Style - BEGIN */
a {
    color: #000000;
}

span span {
    display: none;
}

blockquote {
    margin: 1em;
    padding: 0;
    font-size: smaller;
}

code {
    font-weight: bold;
    font-family: "Optima", "Times New Roman";
}

h3 code {
    font-size: 90%;
}

h4 code {
    font-weight: normal;
}

h4 em {
    font-size: 80%;
    font-weight: bold;
}

h3 em, span em {
    font-size: 80%;
}

img {
    float: left;
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
/* Cesar Cardoso - Style - END */

@media print {
    body {
        font-size: 10pt;
        margin: 0;
        padding: 0;
        background: none;
    }
    #resume {
        margin: 0;
        padding: 0;
        border: 0px;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    /* Do not underline abbr tags in PDF */
    abbr {
        text-decoration: none;
        font-variant: none;
    }
    /* Make links black in PDF */
    /* Move this outside the print block to apply this in HTML too */
    a, a:link, a:visited, a:hover {
        color: #000000;
    }

    h1 + ul > li > a {
        text-decoration: none;
    }
}
@page {
    /* Change margins and paper size of PDF */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
    size: letter;
    margin: 0.5in 0.8in;
}
@media screen and (max-width: 800px) {
    body {
        font-size: 16pt;
        margin: 0;
        padding: 0;
        background: #FFFFFF !important;
    }
    #resume {
        margin: 0;
        padding: 1em;
        border: 0px;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.page-breaker {
    display: none;
}
